<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Todo Detail</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <div class="card w-75 text-white bg-info mb-3">
    <div class="card-body">
      <h5 class="card-title">Todo Text</h5>
      <p class="card-text"><strong>Status:</strong> <em>Pending / Done</em></p>
      <button class="btn btn-warning btn-sm">Delete</button>
      <button class="btn btn-sm">Toggle Status</button>
    </div>
  </div>  
  
  <div class="card w-75 text-white bg-success mb-3">
    <div class="card-body">
      <h5 class="card-title">Todo Text</h5>
      <p class="card-text"><strong>Status:</strong> <em>Pending / Done</em></p>
      <button class="btn btn-warning btn-sm">Delete</button>
      <button class="btn btn-sm">Toggle Status</button>
    </div>
  </div>  
</body>
</html>